@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat',sans-serif;
  background-image: url(../images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.red-dot, .green-dot, .yellow-dot {
  border-radius: 50%;
  margin-right: .5em;
  width: 1em;
  height: 1em;
}

.red-dot {
  background: #dc2430;
}

.green-dot {
  background-color: #60ff60;
}

.yellow-dot {
  background-color: #f7ff00;
}

::-moz-selection {
  background: #47ebbf;
}

::selection {
  background: #47ebbf;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  position: fixed;
  -webkit-box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.2);
  width: 100%;
  background: #fff;
  padding: .8em;
}

nav .web-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18%;
}

nav .web-title h3 {
  margin-left: .3em;
  font-size: 1.4em;
}

nav .web-title h3 span {
  font-weight: 600;
  background: -webkit-linear-gradient(#dada00, orange, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav .web-title img {
  height: 2.5em;
}

nav .nav-container {
  width: 82%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav .nav-container a {
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  color: black;
  height: 1.7em;
}

nav .nav-container a:hover {
  -webkit-text-decoration: underline 3px solid #47ebbf;
          text-decoration: underline 3px solid #47ebbf;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  margin-top: 4.3em;
  width: 100%;
  height: 25em;
}

header h3 {
  text-transform: uppercase;
  font-size: 2.5em;
  color: #fff;
}

header h3 span {
  background: #f7ff00;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#f7ff00), to(#fa63c8));
  background: linear-gradient(to right, #f7ff00, #fa63c8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

header p {
  margin-top: .5em;
  font-weight: 500;
  font-size: 1.6em;
}

header p span {
  font-size: 1.1em;
  font-weight: 700;
  background: #7b4397;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#dc2430), to(#7b4397));
  background: linear-gradient(to right, #dc2430, #7b4397);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

header .btns-container {
  padding: 1em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .btns-container button {
  font-size: 1.5em;
  padding: .3em .6em;
  border-radius: .3em;
  outline: none;
  cursor: pointer;
}

header .btns-container #color {
  border: 2px solid white;
  color: #fff;
  background: transparent;
}

header .btns-container #gradient {
  border: none;
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.2);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row #color-h3 {
  width: auto;
}

.row button {
  outline: none;
  cursor: pointer;
  background: #fdfdfd;
  border-radius: .2em;
  border: 2px solid #ccc;
  font-size: 1.4em;
  padding: .3em .5em;
}

.row button:hover {
  background: #e9e9e9;
}

main {
  width: 100%;
  padding: .5em;
  background-color: #f2f2f2;
}

main .gradient-container {
  width: auto;
  height: 62em;
  padding: 1em;
}

main .gradient-container h3 {
  font-size: 2em;
  width: 5em;
  border-bottom: 3px solid #47ebbf;
  font-weight: 500;
}

main .gradient-container .row-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

main .gradient-container .row-card .ss-wrapper {
  padding: 3em 2em;
}

main .gradient-container .row-card .ss-wrapper .ss-container {
  border-radius: .5em;
  -webkit-box-shadow: 10px 10px 5px 0.2px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 5px 0.2px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #4d4d4d;
}

main .gradient-container .row-card .ss-wrapper .ss-container .ss-header {
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  background-color: #333;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .gradient-container .row-card .ss-wrapper .ss-container .ss-content {
  padding: 1em;
}

main .gradient-container .row-card .ss-wrapper .ss-container .ss-content p {
  font-size: 1.2em;
  margin-bottom: .2em;
}

main .gradient-container .row-card .ss-wrapper .ss-container .ss-content #code-class {
  font-weight: 500;
  color: orange;
}

main .gradient-container .row-card .ss-wrapper .ss-container .ss-content #colon {
  font-weight: 600;
  color: violet;
}

main .gradient-container .row-card .ss-wrapper .ss-container .ss-content #bracket {
  font-weight: 500;
  color: violet;
}

main .gradient-container .row-card .ss-wrapper .ss-container .ss-content #code-keywords {
  margin-left: 2em;
  color: #fa2a6f;
}

main .gradient-container .row-card .ss-wrapper .ss-container .ss-content #code-content {
  color: lightgreen;
}

main .gradient-container .row-card .ss-wrapper .ss-container .ss-content #function {
  color: cornflowerblue;
}

main .gradient-container .row-card .ss-wrapper .ss-container .ss-content #curly {
  color: orange;
  font-weight: 500;
}

main .gradient-container .row-card .side-wrapper {
  padding: 3em 1em;
}

main .gradient-container .row-card .side-wrapper #heading {
  font-size: 1.6em;
  font-weight: 500;
}

main .gradient-container .row-card .side-wrapper ol {
  padding: 2em 3em;
  font-size: 1.2em;
  font-weight: 500;
}

main .gradient-container .row-card .side-wrapper ol li {
  margin-bottom: .7em;
}

main .gradient-container .row-card .side-wrapper ol li .fa-check {
  color: lightgreen;
}

main .gradient-container .row-card .side-wrapper ol li .fa-times {
  color: #dc2430;
}

main .gradient-container button {
  background: #f2f2f2;
}

main .gradient-container .output-wrapper {
  width: auto;
  padding: 0 5em;
  height: 30em;
}

main .gradient-container .output-wrapper .output-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: .5em;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

main .gradient-container .output-wrapper .output-content .output-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333;
  padding: 1em;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}

main .gradient-container .output-wrapper .output-content .img {
  width: 100%;
  height: 100%;
  background-image: url("../images/gradient-op.png");
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
}

main .gradient-container:nth-child(3) .row-card .side-wrapper {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

main .gradient-container:nth-child(3) .row-card .side-wrapper blockquote {
  padding: 1em 3em;
  height: 100%;
  border-radius: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 7px 0.5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 7px 0.5px rgba(0, 0, 0, 0.2);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: -webkit-linear-gradient(right, #ffe227 50%, #a685e2 50%);
}

main .gradient-container:nth-child(3) .row-card .side-wrapper blockquote .ss-header {
  width: 100%;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  background-color: #333;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .gradient-container:nth-child(3) .row-card .side-wrapper blockquote q {
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
  padding: 1em;
  background: #fff;
  font-size: 1.4em;
  font-weight: 600;
}

main .gradient-container:nth-child(3) .row-card .ss-wrapper {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

main .gradient-container:nth-child(3) .row-card .ss-wrapper .ss-content {
  background: #fff;
}

main .gradient-container:nth-child(3) .row-card .ss-wrapper .ss-content .color-div {
  padding: .3em;
  height: 2.5em;
  border-radius: .3em;
  margin-bottom: .3em;
}

main .gradient-container:nth-child(3) .row-card .ss-wrapper .ss-content .color-div:nth-child(1) {
  background: #a685e2;
}

main .gradient-container:nth-child(3) .row-card .ss-wrapper .ss-content .color-div:nth-child(2) {
  background: #ffe227;
}

main .gradient-container:nth-child(3) .row-card .ss-wrapper .ss-content .color-div:nth-child(4) {
  background: #7fffd4;
}

main .gradient-container:nth-child(3) .row-card .ss-wrapper .ss-content .color-div:nth-child(5) {
  background: #adff2f;
}

main .gradient-container:nth-child(3) .row-card .ss-wrapper .ss-content .color-div:nth-child(3) {
  background: #ff577f;
}

main .gradient-container:nth-child(3) .output-wrapper .output-content .img {
  background-image: url("../images/color-op.png");
}

main .show-container {
  width: auto;
  height: 25em;
  padding: 1em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5em;
}

main .show-container .img-contents {
  width: calc(100% - 60%);
  background-image: url("../images/designer 1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

main .show-container .show-contents {
  width: calc(100% - 40%);
}

main .show-container .show-contents h3 {
  text-align: center;
  font-size: 1.7em;
}

main .show-container .show-contents .gradient-wrapper {
  height: 100%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .show-container .show-contents .gradient-wrapper > div {
  width: 4em;
  height: 93%;
  border-radius: .5em;
}

main .show-container .show-contents .gradient-wrapper #grad1 {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

main .show-container .show-contents .gradient-wrapper #grad2 {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

main .show-container .show-contents .gradient-wrapper #grad3 {
  background-image: -webkit-gradient(linear, left top, right top, from(#4facfe), to(#00f2fe));
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

main .show-container .show-contents .gradient-wrapper #grad4 {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}

main .show-container .show-contents .gradient-wrapper #grad5 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2af598), to(#009efd));
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}

main .show-container .show-contents .gradient-wrapper #grad6 {
  background-image: linear-gradient(120deg, #004ff9 0%, #fff94c 100%);
}

main .show-container .show-contents .gradient-wrapper #grad7 {
  background-image: linear-gradient(120deg, #70e1f5 0%, #ffd194 100%);
}

main .show-container .show-contents .gradient-wrapper #grad8 {
  background-image: linear-gradient(120deg, #feac5e 0%, #c779d0 50%, #4bc0c8 100%);
}

main .show-container .show-contents .gradient-wrapper #grad9 {
  background-image: linear-gradient(120deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
}

footer {
  text-align: center;
  padding: 0em 1em;
  margin-top: 1.5em;
}

footer h3 {
  color: #fff;
  font-size: 1.2em;
}

footer h3 span {
  font-size: 1.2em;
  background: #f7ff00;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#fa63c8), to(#f7ff00));
  background: linear-gradient(to right, #fa63c8, #f7ff00);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
/*# sourceMappingURL=main.css.map */